<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tourist Guide</title>
    <link rel="stylesheet" href="/css/styling.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


</head>
<body>

    <header>
        <a href="/">
            <img src="/images/copenlogo.jpg" alt="logo" class="logo">
            <span class="header-text">Tourist Guide</span>
        </a>
    </header>

    <nav>
        <h2>MENU</h2>
        <ul>
            <li><a href="/attractions">All Attractions</a></li>
        </ul>
    </nav>

    <main>
        <h2>Welcome to the Tourist Guide</h2>
        <p>Here are three attractions worth visiting in Copenhagen:</p>
        <div class="frontpage_attractions">
            <div>
                <a href="attractions/Tivoli">
                    <h1>Tivoli</h1>
                    <p>The oldest amusement park in the world</p>
                    <img src="/images/tivoliimg.jpg" alt="tivoli img" >
                </a>
            </div>

            <div>
                <a href="attractions/Københavns ZOO">
                    <h1>Copenhagen ZOO</h1>
                    <p>A Zoo placed on top of a hill in Frederiksberg</p>
                    <img src="/images/zooimg.webp" alt="zoo img">
                </a>
            </div>

            <div>
                <a href="attractions/Nationalmuseet">
                    <h1>National Museum of Denmark</h1>
                    <p>The National Museum of Denmark (Nationalmuseet) in Copenhagen is Denmark's largest museum of cultural history</p>
                    <img src="/images/museumimg.jpg" alt="museum img">
                </a>
            </div>
        </div>
    </main>

    <footer>
        <h2>Christoffer's favourite tourist locations in Copenhagen</h2>
        <p>Christoffer Lund, KEA, DAT24C, chlu0002@stud.kea.dk</p>
    </footer>

</body>
</html>
